<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- Name of this panda -->
  <xacro:arg name="arm_id" default="panda" />
  <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="hand" default="false" />
  <!-- Is the robot being simulated in gazebo?" -->
  <xacro:arg name="gazebo" default="false" />

  <xacro:unless value="$(arg gazebo)">
    <!-- Create a URDF for a real hardware -->
    <xacro:include filename="$(find panda_description)/urdf/panda_arm.xacro" />
    <xacro:panda_arm arm_id="$(arg arm_id)" safety_distance="0.03"/>

  </xacro:unless>
</robot>